

body {
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 

  @font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 800;
    font-style: bold;
  }

  /* pop-up*/

  .popup-label{
    display: none;
   }
.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, .5);
  display: none;
  z-index: 2;
}
.popup-input{
display: none;
}
.popup-input:checked + .popup{
  display: inline;
}
.popup-close{
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  display: inline-flex;
  background-color: #fff;
  border-radius:50%;
  position: absolute;
  right: -10px;
  top: -10px;
  box-shadow: rgba(0, 0 ,0, .5);
  cursor: pointer;
}
  .popup-content{
    position: relative;
    padding: 60px 0 50px 30px;
    margin-top: 54px;
    width: 389px;
    height: 590px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


  .popup-content-title{
    font-weight: 800;
    font-size: 20px;
    text-transform:uppercase ;
  }

  .popup-content-title::after{
    content: "";
    display: block;
    position: absolut;
    margin: auto;
    margin-top: 10px;
    width: 65px;
    height: 2px;
    background-color: #e1d9bd;
  }

 .popup-select-list{
  margin: auto;
 }

  .popup-select-label{
    text-align: left;
    display: block;
    margin-bottom: 9px;
  }
  
  .popup-select-items{
    display: flex;
   align-self: flex-start;
    border: none;
    background-color: #f4f7f6;
    padding: 21px 150px 21px  21px;
    color: #a2a4a3;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 14px top 50%;
    background-size: 15px ;
  }

  .popup-radio-form{
text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin-top: 33px;
    
  }
.popup-radio-items{
  align-self:flex-start;
  display: flex;
  margin-top: 12px;
}
  .popup-email{
    align-self:flex-start;
    display: block;
  }
  

  .popup-radio{
    display: none;
  }
.popup-radio-name{
  vertical-align: middle;
  margin-right: 13px;
}

.popup-radio-label{
display: flex;
}

  .circle{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px  solid #b59f5b;
    border-radius: 50%;
    margin-right: 3px;
    position: relative;
  }
  .circle::before{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #b59f5b;
    opacity: 0;
  }

  .popup-radio:checked + .circle::before{
    opacity: 1;
  }

  .form-wishes{
    margin-top: 36px;
    text-align: left;
  }

  .wishes-input{
  border: none;
  background-color: #f4f7f6;
  color: #939594;
  margin-top: 14px;
  padding: 20px 141px 100px 21px;
  }
  .wishes-input:active{
    border: none;
  }

  .popup-button{
    display: flex;
    align-self: flex-start;
    border: none;
    color:white;
    background-color: #b59f5b;
    padding: 20px 120px 20px 120px;
    cursor: pointer;
    margin-top: 26px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .container-all{
    max-width:100%;
    margin: 0 auto;
  }
  /* HEADER */
  
  .header {
    color: #fff;
    position: relative;
    width: 100%;
    min-height: 425px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-size: cover;
    display: inline-block;
  }
  
  .header::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .container {
    padding: 25px 200px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .header-menu {
    display: flex;
  }
  
  .logo {
    width: 183px;
    height: 40px;
  }
  
  .nav{
    margin-left:37vw;
  }
  .nav-items {
    
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
    font-size: 13px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  
  .nav-item-first {
    margin: 0 auto;
  }

  .nav-menu-button{
    display: none;
  }
  
  .header-title {
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* тренды*/
.trends-container{
  margin-top: 26px;
  text-align: center;
  position: relative;
}

.trends-title{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}

.trends-title:after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 40px;
  width: 65px;
  height: 2px;
  background-color: #e1d9bd;
}

.trend{
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  width: 25%;
  height:320px;
  object-fit: cover;
  position: relative;
}

.trend-first{
  background-image: url(../img/trend1.jpg);
  
}

.trend-second{
  background-image: url(../img/trend2.jpg);
  
}

.trend-third{
  background-image: url(../img/trend3.jpg);
  
}

.trend-fourth{
  background-image: url(../img/trend4.jpg);
 
}

.trend::before{
  content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.trends{
  margin-top: 31px;
  gap: 5px;
  display: flex;
}

.trend-tag-link{
  position: relative;
  text-decoration: none;
  color:#b59f5b;
  text-transform: uppercase;
  display: flex;
  margin-right: 18px;
  font-weight: 800;
}

.trend-tag-link:hover{
  text-decoration: underline;

}

.trend-text{
  color: white;
  position: relative;
  text-transform: uppercase;
  max-width: 210px;
  text-align: start;
}

.trend-link{
  text-decoration: none;
  color:white;
}

.trend-link:hover{
  color: #b59f5b;
}

.trend-item{
  box-sizing: border-box;
  margin-top: 154px;
  margin-left: 20px;
  position: relative;
  border:3px solid#b59f5b;
 width: 320px;
 height: 135px;
 padding-left:34px ;
}

.trend-item-second{
  box-sizing: border-box;
  margin-top: 130px;
  margin-left: 20px;
  position: relative;
  border:3px solid#b59f5b;
 width: 320px;
 height: 160px;
 padding-left:34px ;
}

.trend-item-third{
  box-sizing: border-box;
  margin-top: 154px;
  margin-left: 20px;
  position: relative;
  border:3px solid#b59f5b;
 width: 320px;
 height: 135px;
 padding-left:34px ;
}

.trend-item-fourth{
  box-sizing: border-box;
  margin-top: 154px;
  margin-left: 20px;
  position: relative;
  border:3px solid#b59f5b;
 width: 320px;
 height: 135px;
 padding-left:34px ;
}

.trend-list{
  list-style: none;
  display: flex;
  padding: 0;
  
}

.trend-list-item{
  display: inline-block;
}


    /* боковая панель */
  
  aside {
    display: flex;
    justify-content: flex-end;
  }
  
  .content {
    display: flex;
    margin: 0 auto;
    max-width:1200px;
  }
  
  .container-aside {
    margin: 0 auto;
  }
  
  .other-news {
    box-sizing: border-box;
    padding: 64px 0 0 0;
    margin-left: 120px;
    margin-right: 15px;
  }
  
  .other-news-item {
    display: flex;
    margin-top: 21px;
    font-size: 14px;
  }
  
  .other-news-item-first {
    margin-top: 0;
  }
  
  .other-news-title-text {
    color: inherit;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .other-news-title {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    margin-left: 55px;
  }
  
  .other-news-title::after {
    content: "";
    display: block;
    position: absolut;
    margin: auto;
    margin-top: 10px;
    width: 65px;
    height: 2px;
    background-color: #e1d9bd;
  }
  
  .other-news-img {
    width: 70px;
    height: 70px;
  }
  
  .other-news-text {
    margin-left: 20px;
    max-width: 196px;
  }
  
  .other-news-data {
    color: #888888;
    font-size: 12px;
    margin: 0;
  }
  
  .other-news-link {
    color: inherit;
    text-decoration: none;
  }
  
  .other-news-link:hover {
    color: #b59f5b;
  }
  
  .search {
    margin-top: 60px;
  }
  
  .search-label-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search-button-text{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search-input {
    width: 223px;
    height: 47px;
    position: relative;
    padding: 19px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
  }
  
  .search-input:focus {
    outline: 1px solid #b59f5b;
  }
  
  .search-buttom {
    position: absolute;
    height: 47px;
    width: 49px;
    background-color: #b59f5b;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
  }
  
  .search-buttom:focus {
    outline: 1px solid #b59f5b;
  }
  
  .search-buttom:hover{
    background-color:#323232;
  }
  
  .newsletter {
    margin-top: 62px;
  }
  
  .search-label-text{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .aside-title {
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .aside-title::after {
    content: "";
    display: block;
    position: absolut;
    margin: auto;
    margin-top: 10px;
    width: 65px;
    height: 2px;
    background-color: #e1d9bd;
  }
  
  .newsletter-input {
    border: none;
    outline: none;
    background: #f4f7f6;
    width: 272px;
    height: 50px;
    padding-left: 19px;
  }
  
  .newsletter-input:focus {
    outline: 2px solid #b59f5b;
  }
  
  .button-newsletter {
    margin-top: 17px;
    width: 290px;
    height: 48px;
    background-color: #b59f5b;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: white;
    font-style: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .button-newsletter:hover {
    background-color: #323232;
  }
  
  .tags {
    margin-top: 62px;
  }
  
  .tags-items {
    margin-top: 24px;
    display: flex;
    width: 300px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .tags-item {
    display: flex;
    margin-left: 5px;
    margin-bottom: 6px;
    font-weight: 800;
    text-align: center;
    border: 3px solid #eeeeee;
    padding: 7px 13px;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .tags-item:hover{
    border: 3px solid #b59f5b;
  }
  .tags-item-link{
    color:inherit;
    text-decoration:none;
  }
  
  .topics {
    margin-top: 54px;
  }
  
  .totics-items {
    margin-top: 26px;
  }
  
  .topics-item {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 33px;
  }
  
  .topics-item:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 15px;
    width: 272px;
    height: 2px;
    background-color: #eeeeee;
  }
  
  .topics-item:hover {
    color: #b59f5b;
  }
  
  .item-quantity {
    color: #b59f5b;
  }
  
  .topics-link {
    text-decoration: none;
    color: inherit;
  }
  
  /* основные новости */
  /* MAIN */
  
  .container-main {
    margin: 0 auto;
    height: 48.8%;
    width: 100%;
  }

  
  
  .news-item {
    
    height: 17.6%;
    display: flex;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
    margin: 60px 0 0 0;
   
    margin-top: 58px;
  }
 
  
  .news-item-first {
    margin: 0;
    padding: 0;
  }
  
  .news-category-items {
    list-style: none;
    font-weight: 800;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .news {
    display: block;
    padding: 64px 0 0 0;
  }
  
  .news-text {
    margin-left: 30px;
  }
  
  .new-img {
    width: 389px;
    height: 293px;
    flex-shrink:0;
  }
  
  .news-category-item {
    max-width: 297px;
    text-transform: uppercase;
    color: #b59f5b;
    text-decoration: none;
    text-align: left;
  }
  
  .news-category-item:hover {
    text-decoration: underline;
  }
  
  .news-category-item-second {
    margin-left: 19px;
  }
  
  .news-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  .news-title:hover{
    color:#b59f5b;
  }
  
  .news-title-link {
    color: inherit;
    text-decoration: none;
  }
  
  .news-time {
    color: #888888;
    font-size: 13px;
  }
  
  .news-author {
    font-weight: 800;
    font-size: 12px;
    margin-left: 15px;
  }
  
  .news-description {
    max-width: 342px;
    font-size: 15px;
    line-height: 20px;
  }
  
  .news-items {
    box-sizing: border-box;
  }
  
.goods{
    margin: 64px  auto;
    max-width: 1200px;
    text-align: center;
    
}

.goods-title{
    text-transform: uppercase;
    font-size: 20px;
    justify-content: center;
    position: relative;
}
.goods-title:after {
    content: "";
    display: block;
    position: absolut;
    margin: auto;
    margin-top: 10px;
    width: 65px;
    height: 2px;
    background-color: #e1d9bd;
}

.product{
    margin: 66px auto 0 auto; 
    text-align: center;
}
.product-list{
    position: relative;
display: flex;
justify-content: space-between;
height: 500px;
margin-top: 47px;
}

.product-img{
  position: relative;
  margin-left: 20px;
}

.product-text{
    box-sizing: border-box;
    border: 3px solid #d3c59d;
    padding: 50px 22px 70px 20px;
    width: 334px;
    height: 268px;
    margin-top: -56px;
    position:absolute ;
}

.product-title{
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.product-description{
    text-align: left;
    font-size: 14px;
    margin-top: -16px;
    position: relative;
}

.product-link{
    color: #b59f5b;
    text-decoration: none;
}

.product-link:hover{
  text-decoration: underline;
}

.product-price-sale{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: -15px;
    position: relative;
    
}

.product-price{
    text-align: left;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
    font-size: 12px;
}

.product-price-rabbit{
    margin-top: 50px;
    
}


.product-button{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
   position: absolute;
   margin-top: -70px;
    color: white;
    border: none;
    background-color: #b59f5b;
padding: 20px 26px 20px 26px;
}


  /* footer */
  
  .footer{
    margin-top: 64px;
    position: relative;
  }

  .social {
    margin-top: 65px;
    background-color: #f4f7f6;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .social-text{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .social-icon {
    height: 19px;
    margin-left: 30px;
  }
  
  .copyright {
    color: #999999;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    margin-top: 74px;
  }

  